$primary-color: #015f33;
$white: #ffffff;
$primary-background: #f2f6e7;
$secondary-background: #00341d;
$transition: all 0.3s ease;
$primary-textcolor: #006034;
$secondary-textcolor: #4A4A4A;
$orange: #ff4310;