$primary-color: black;
$hover-color: gray;
$bg-color: white;
$text-color: #555;
$border-color: #ccc;

$padding-default: 10px;
$gap-default: 20px;

$font-default: Arial, sans-serif;


//////////
$default-white:white;
$default-height:100px;
$default-width:900px;
